<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>
        Notification: {proposal.title} submitted to {proposal.cycle}
    </title>
</head>
<body>

<div>
    <p>Hello,</p>
</div>

<div>
    <p>
        You are being emailed this notification as you are listed as a TAC member for the cycle '{proposal.cycle}'.
    </p>
    <p>
        The proposal '{proposal.title}' has been submitted.
    </p>
    <p>
        Sent from the Polaris Observation Proposal Preparation Tool.
    </p>

</div>
</body>
</html>
